.flags {
    width: 3rem;
    height: 2rem;
    padding-right: 1px;
cursor: pointer;
  }
 
  .block-container {
    padding-top: 80px;
    display: flex; /* Use flexbox to align the inner divs horizontally */
    flex-direction: column; /* Stack the inner divs vertically */
    align-items: center; /* Center the inner divs horizontally */
  }
  .red {
color: red;
  }